# Compiled output
chapter*.pdf
*.dvi
extra-*/*.pdf

# big pictures
*.gif
chapter7-xen2/*.png
chapter7-xen2/*.svg

# Intermediate files
*.aux
*.bbl
*.toc
*.blg
*.log
*.lof
*.lot

# Version control directories
*/_darcs*
*/RCS*
